.container {
  width: 100%;
  height: 100vh;
}

/* The "Blocked" screen for desktop */
.desktopWarning {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #1a1a1a;
  color: var(--white);
  text-align: center;
  padding: 2rem;
}

.desktopWarning h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}