/* src/App.css */

/* In src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');



:root {
  --primary-color: #ff4b6e; /* Rose */
  --secondary-color: #ff9e42; /* Orange */
  --bg-color: #ffffff;
  --text-dark: #333333;
  --text-light: #888888;
  --white: #ffffff;
  --font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
   font-family: 'Poppins', sans-serif;

  background-color: #f5f5f5; /* Light grey for desktop background */
  overflow: hidden; /* Prevent scroll on splash */
}